body {
    font-family: 'Montserrat';
    text-align:center;
    color: #BB9981;

}
.jumbotron{
     background-image: url("../img/back1.jpg");
     background-size: cover;
     display: block;
     background-color:#C5D8A4;
}

/*Navbar*/

#NavbarNav{
    text-align:right;
    font-size: xx-large;
}

.nav{
    padding-bottom:20%;

}
.navbar-brand {
  font-size: xx-large;
  display: inline-block;
  text-align:left;
}

.nav-link {
   font-size: xx-large;

}
.nav-item {
  padding: 0 10px;
}
h1 {
    color: #BB9981;
    font-weight:700;
}

.head {
    padding-top:15%;
}

.cafes {
    padding:5%;
}

#cafes {
    color: #BB9981;
    font-weight:400;
}

#cafes > tbody > tr >td {
    color: #BB9981;
    font-weight:400;
}

#cafes > tbody > tr > td:nth-child(6) > a {
    text-decoration:none;
    color: #BB9981;
}

#cafes > tbody > tr > td:nth-child(7) > a {
    text-decoration:none;
    color: #BB9981;
}

#cafes > tbody > tr > td:nth-child(8) > a {
    text-decoration:none;
    color:red;
}

#cafes > tbody > tr > td:nth-child(9) > a {
    text-decoration:none;
    color: #BB9981;
}

.registerform {
    width:30%;
    text-align:center;
    margin:15% 35% 10% 35%;
}


.flashes {
    padding-top:8%;
}

#cofe_quality, #wifi_quality   {
    text-align:left;
    opacity: 0.7;
    list-style:none ;
}

.usersdetail {
    width:30%;
    margin:15% 35% 10% 35%;
}

.usersfoto {
    padding:5%;
    border:1px solid white;
}
.usersdata{

    border:1px solid white;
}
.usersdata > p {
    border:1px solid white;
}


#footer {
   position:sticky;
   bottom:0;
   width:100%;

}
#footer > p > a {
    text-decoration:none;
    color: #BB9981;
}


