{% extends "layout.html" %}
{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block body %}
<body class="jumbotron">
    <div class = 'usersdetail'>
        <div class = "usersfoto">
            <img src = "/static/img/profilfotodummy.png">
        </div>
        <div class = "usersdata">
            <p>{{user.name}}</p>
            {% if user.about == None%}
            <p>{{user.name}} does not want to share information about himself</p>
            {% else %}
            <p>{{user.about}}</p>
            {% endif %}
        </div>



    </div>
</body>
{% include "footer.html" %}
{% endblock %}
